body {
  margin: 0;
}

#container {
  background-color: black;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#uploadSection {
  display: flex;
  flex-direction: column;
  width: 305px;
  height: 381px;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  padding: 16px 0;
  box-sizing: border-box;
}

button {
  width: fit-content;
}

h4 {
  font-weight: 900;
}

#title {
  font-size: 20px;
  font-weight: 900;
  flex: 1;
  flex-grow: 0;
}

#imagesArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  flex: 1;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 15px 0;
}

.imageSelection {
  display: flex;
  width: 247px;
  align-items: center;
  border: 2px #6cb4ee solid;
  padding: 6px 10px;
  box-sizing: border-box;
  margin: 6px;
  height: auto;
  flex-shrink: 0;
}

.imageName {
  flex: 18;
  font-weight: 900;
}

.cross {
  flex: 1;
}

button {
  width: 155px;
  height: 45px;
  font-size: 23px;
  font-weight: bold;
  color: white;
  flex: 1;
  flex-grow: 0;
  background-color: #6cb4ee;
  border: none;
  border-radius: 7px;
  padding: 9px 0;
}
